@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  @apply w-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-darkGray;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: none;
    animation-timing-function: ease-in-out;
  }
}

.bounce {
  animation: bounce 5s infinite;
}
